# ---------------- ENV ----------------
GLOBAL_ENV=development   # development | staging | production
INTERNAL_API_KEY=internal-secret

# ---------------- POSTGRES ----------------
POSTGRES_USER=onevote
POSTGRES_PASSWORD=onevote
POSTGRES_DB=onevote
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# ---------------- DATABASE NAMES ----------------
AUTH_DB=auth_db
IDENTITY_DB=identity_db
BIOMETRIC_DB=biometric_db
ORG_DB=org_db
ELECTION_DB=election_db
VOTING_DB=voting_db

# ---------------- DATABASE URL (OPTIONAL GLOBAL FALLBACK) ----------------
# Usually overridden per service in docker-compose
DATABASE_URL=

# ---------------- REDIS ----------------
# Dev (Docker)
REDIS_URL=redis://redis:6379

# Prod example (commented)
# REDIS_URL=redis://default:password@your-upstash-host:port

# ---------------- JWT ----------------
JWT_SECRET=change_this_in_production   # 🔥 MUST change in prod
JWT_ALGORITHM=HS256

# Access & refresh split (clean naming)
JWT_ACCESS_EXPIRY_MINUTES=4
JWT_REFRESH_EXPIRY_MINUTES=20   # 1 day

# ---------------- CLIENT ----------------
CLIENT_URL=http://localhost:3000

# ---------------- SERVICE CONFIG ----------------
# Can be overridden per service in docker-compose
API_ENV=development

SUPERADMIN_EMAIL=root@superadmin.com
SUPERADMIN_PASSWORD=root123


AUTH_SERVICE_URL=http://auth:8000
IDENTITY_SERVICE_URL=http://identity:8000
BIOMETRIC_SERVICE_URL=http://biometric:8000
ELECTION_SERVICE_URL=http://election:8000
ORGANISATION_SERVICE_URL=http://organisation:8000
VOTING_SERVICE_URL=http://voting:8000
NOTIFICATION_SERVICE_URL=http://notification:8000